<form action="<%= url %>" method="post" >

  <%= form_auth %>
  <br>

  <label for="username">Username</label>
  <input type="text" name="user[username]" value="<%= user.username %>" id="username">
  <br>

  <% if url == users_url %>
  <label for="email">Email</label>
  <input type="text" name="user[email]" value="<%= user.email %>" id="email">
  <br>

  <label for="are_you_a_band?">I'm a band!</label>
  <input type="checkbox" name="user[is_a_band]" id="are_you_a_band?">
  <br>
  <% end %>

  <label for="password">Password</label>
  <input type="password" name="user[password]" value="" id="password">

  <p><input type="submit" value="Continue &rarr;"></p>
</form>